{{>logo}}
<h1 class="text-center">Edición de la partida {{datospartida.id}} {{datospartida.titulo}} </h1>
<div class="container mb-4">
    <p class="text-center">
        Abierta entre el {{formatearSpHora datospartida.fecha_inicio}}
        y el {{formatearSpHora datospartida.fecha_fin}}
    </p>

    <div class="row"> {{!-- //JUGADORES --}}
        <div class="col-md-12">
            <div class="card p-1 bg-secondary text-center">
                <h4> JUGADORES - Nº total: {{jugadores.length}}</h4>
                {{#if jugadores}}
                <table class="table table-dark table-striped">
                    <tr>
                        <th class="d-none d-xl-table-cell">Id</th>
                        <th>Usuario</th>
                        <th class="d-none d-xl-table-cell">Nombre</th>
                        <th>Imagen</th>
                        <th>Options</th>
                    </tr>
                    {{#each jugadores}}
                    <tr>
                        <td class="d-none d-xl-table-cell">{{this.id_jugador}}</td>
                        <td>{{this.usuario}} </td>
                        <td class="d-none d-xl-table-cell">{{this.full_name}}</td>
                        {{#if this.pictureURL}}
                        <td> <img src="/img/profiles/{{this.pictureURL}}" class="avatar avatar-xs m-2"
                                alt="avatar {{this.pictureURL}}'" /></td>
                        {{else}}
                        <td> <img src="/img/profiles/default.jpg" class="avatar avatar-xs m-2"
                                alt="avatar {{this.pictureURL}}'" /></td>
                        {{/if}}
                        <td>
                            <a href="/partidas/{{this.id_partida}}/deleteplayer/{{this.id_jugador}}"
                                class="text-warning"><i class="fa-solid fa-trash"></i>Del</a>
                        </td>
                    </tr>

                    {{/each}}
                </table>
                {{else}}
                <div class="col-md-12 mx-auto">
                    <div class="card card-body text-center p-1">
                        <tr>No hay jugadores guardados <a href="/partidas/{{datospartida.id}}/add_player"> Crea
                                uno!</a></tr>
                    </div>
                </div>
                {{/if}}

                <div class="text-center m-2">
                    <a href="/partidas/{{datospartida.id}}/add_player" class="btn btn-warning"> Añadir jugador</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-4"> {{!-- //OBJETOS --}}
        <div class="col-md-12">
            <div class="card p-1 bg-secondary text-center">
                <div>
                    <h4> OBJETOS - Nº total: {{objetos.length}}</h4>
                    {{#if objetos}}
                    <table class="table table-dark table-striped">
                        <tr>
                            <th class="d-none d-xl-table-cell">Id</th>
                            <th>Nombre</th>
                            <th class="d-none d-xl-table-cell">Descripcion</th>
                            <th>Imagen</th>
                            <th>Options</th>
                        </tr>
                </div>
                <div>
                    {{#each objetos}}
                    <tr>
                        <td class="d-none d-xl-table-cell">{{id}}</td>
                        <td>{{this.nombre}}</td>
                        <td class="d-none d-xl-table-cell">{{this.descripcion}} </td>
                        {{#if this.pictureURL}}
                        <td> <img src="/img/imagenes/{{this.pictureURL}}" class="avatar avatar-xs m-2"
                                alt="avatar {{this.pictureURL}}'" /></td>
                        {{else}}
                        <td> <img src="/img/objeto.png" class="avatar avatar-xs m-2"
                                alt="avatar {{this.pictureURL}}'" /></td>
                        {{/if}}
                        <td>
                            <a href="/partidas/{{this.id_partida}}/deleteobject/{{this.id}}" class="text-warning"><i
                                    class="fa-solid fa-trash"></i>Del</a>
                        </td>
                    </tr>

                    {{/each}}
                    </table>
                    {{else}}
                    <div class="col-md-12 mx-auto">
                        <div class="card card-body text-center  p-1">
                            <tr>No hay objetos guardados <a href="/partidas/{{datospartida.id}}/add_object"> Crea
                                    uno!</a></tr>
                        </div>
                    </div>
                    {{/if}}
                    <div class="text-center m-2">
                        <a href="/partidas/{{datospartida.id}}/add_object" class="btn btn-warning"> Añadir objeto</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {{#if esCreador}}
    <div class="row my-4"> {{!-- //BOTONES --}}
        <div class="col-md-12 mx-auto">
            <div class="d-flex flex-column justify-content-around align-items-center">
                {{#enCreacion datospartida.status}}
                {{#when ../jugadores.length 'gte' 2 }}
                {{#when ../objetos.length 'gte' ../jugadores.length }}
                <a href="/partidas/start/{{../datospartida.id}}" class="btn btn-warning"> <i
                        class="fa-solid fa-play"></i> COMENZAR PARTIDA</a>
                {{/when}}
                {{/when}}
                {{/enCreacion}}
            </div>
        </div>
    </div>

    <div class="row my-4"> {{!-- //BOTONES --}}
        <div class="col-md-12">
            <div class="d-flex  justify-content-around">
                <a href="/partidas/editgame/{{datospartida.id}}" class="btn btn-style"> <i
                        class="fa-solid fa-pen"></i>Editar datos partida</a>
                <a href="/partidas/delete/{{datospartida.id}}" class="btn btn-style"><i
                        class="fa-solid fa-trash"></i>Eliminar partida</a>
            </div>
        </div>
    </div>
    {{/if}}
</div>