<h1 class="text-center">Cambios en la partida {{datospartida.titulo}} {{datospartida.id}}</h1>
<div class="container p-4">
    Empieza {{formatearSp datospartida.fecha_inicio}}
    Acaba {{formatearSp datospartida.fecha_fin}}
    <div class="row">
        <div class="col-md-12">
            <div class="card my-4 p-1 bg-secondary">
                <h4> JUGADORES - Nº total: {{jugadores.length}}</h4>
                {{#if jugadores}}
                <table>
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Nombre</th>
                        <th>Imagen</th>
                        <th>Options</th>
                    </tr>
                    {{#each jugadores}}
                    <tr>
                        <td>{{this.id_jugador}}</td>
                        <td>{{this.usuario}} </td>
                        <td>{{this.full_name}}</td>
                        {{#if this.pictureURL}}
                        <td> <img src="/img/profiles/{{this.pictureURL}}" class="avatar avatar-xs m-2"
                                alt="avatar {{this.pictureURL}}'" /></td>
                        {{else}}
                        <td> <img src="/img/profiles/default.jpg" class="avatar avatar-xs m-2"
                                alt="avatar {{this.pictureURL}}'" /></td>
                        {{/if}}
                        <td>
                            <a href="/partidas/{{this.id_partida}}/deleteplayer/{{this.id_jugador}}"
                                class="text-warning"><i class="fa-solid fa-trash"></i>Del</a>
                        </td>
                    </tr>

                    {{/each}}
                </table>
                {{else}}
                <div class="col-md-4-mx-auto">
                    <div class="card card-body text-center p-1">
                        <tr>No hay jugadores guardados <a href="/partidas/{{datospartida.id}}/add_player"> Crea
                                uno!</a></tr>
                    </div>
                </div>
                {{/if}}

                <div class="text-center m-2">
                    <a href="/partidas/{{datospartida.id}}/add_player" class="btn btn-warning"> Añadir jugador</a>

                </div>
            </div>

            <div class="card p-1 bg-secondary">
                <div>
                    <h4> OBJETOS - Nº total: {{objetos.length}}</h4>
                    {{#if objetos}}
                    <table>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Imagen</th>
                            <th>Options</th>
                        </tr>
                </div>
                <div>
                    {{#each objetos}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{this.nombre}}</td>
                        <td>{{this.descripcion}} </td>
                        {{#if this.pictureURL}}
                        <td> <img src="/img/imagenes/{{this.pictureURL}}" class="avatar avatar-xs m-2"
                                alt="avatar {{this.pictureURL}}'" /></td>
                        {{else}}
                        <td> <img src="/img/objeto.png" class="avatar avatar-xs m-2"
                                alt="avatar {{this.pictureURL}}'" /></td>
                        {{/if}}
                        <td>
                            <a href="/partidas/{{this.id_partida}}/deleteobject/{{this.id}}" class="text-warning"><i
                                    class="fa-solid fa-trash"></i>Del</a>
                        </td>
                    </tr>

                    {{/each}}
                    </table>
                    {{else}}
                    <div class="col-md-4-mx-auto">
                        <div class="card card-body text-center  p-1">
                            <tr>No hay objetos guardados <a href="/partidas/{{datospartida.id}}/add_object"> Crea
                                    uno!</a></tr>
                        </div>
                    </div>
                    {{/if}}
                    <div class="text-center m-2">
                        <a href="/partidas/{{datospartida.id}}/add_object" class="btn btn-warning"> Añadir objeto</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mx-auto">
                <div class="card">
                    {{#enJuego partida.status}}
                    <h2>Partida activa!</h2>
                    <a href="/partidas/pause/{{datospartida.id}}" class="btn btn-warning"> PAUSAR PARTIDA</a>
                    {{/enJuego}}
                    {{#enCreacion datospartida.status}}
                    {{#when ../jugadores.length 'gte' 2 }}
                    {{#when ../objetos.length 'gte' ../jugadores.length }}
                    <a href="/partidas/start/{{../datospartida.id}}" class="btn btn-danger"> CREAR PARTIDA</a>
                    {{/when}}
                    {{/when}}
                    {{/enCreacion}}
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a class="btn btn-warning m-4" href="javascript:void(0)" onclick="history.back();">Volver</a>
    </div>
</div>