<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h2>EDITAR OBJETO - {{objeto.id}} .</h2>
                    <form action="/partidas/{{id_partida}}/edit_object/{{objeto.id}}" method="POST"
                        enctype="multipart/form-data">
                        <div class="form-group"><input class="form-control" type="text" name="nombre"
                                value="{{objeto.nombre}}" autofocus /> </div>
                        <div class="form-group"><input class="form-control" type="text" name="descripcion"
                                value="{{objeto.descripcion}}" /> </div>

                        <div class="input-group mb-3">
                            <input type="hidden" name="tipo" value="objeto" />
                            <input type="file" name="imagen" class="form-control" id="inputGroupFile02"
                                onchange="preview1()">
                        </div>
                        <img id="frame1" class="card-img-top" alt="preview foto objeto" />

                        <button class="btn btn-primary btn-block" onclick="clearImage1()">Guardar</button>
                    </form>
                    <div class="text-center">
                        <a class="btn btn-warning m-4" href="javascript:void(0)" onclick="history.back();">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function preview1() {
        frame1.src = URL.createObjectURL(event.target.files[0]);
    }
    function clearImage1() {
        document.getElementById('formFile1').value = null;
        frame1.src = "";
    }

</script>