<div class="container p-4 pb-2 mb-5">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center mb-4">
        <img src="/img/imagenes/calavera.png" alt="">
      </div>
      {{#if partidas}}
      <table class="table table-dark table-striped">
        <tr>
          <th>Titulo</th>
          <th>Codigo</th>
          <th class="d-none d-xl-table-cell">Descripcion</th>
          <th class="d-none d-xl-table-cell">Inicio</th>
          <th class="d-none d-xl-table-cell">Fin</th>
          <th>Acciones</th>
        </tr>
        {{#each partidas}}
        <tr>
          <td>{{titulo}}</td>
          <td>{{id}}</td>
          <td class="d-none d-xl-table-cell">{{descripcion}}</td>
          <td class="d-none d-xl-table-cell">{{formatearSp fecha_inicio}} </td>
          <td class="d-none d-xl-table-cell">{{formatearSp fecha_fin}}</td>
          <td>
            <a href="/partidas/edit/{{this.id}}" class="text-warning"><i class="fa-solid fa-pen"></i>Edit</a>
            <a href="/partidas/delete/{{this.id}}" class="text-warning"><i class="fa-solid fa-trash"></i>Del</a>
          </td>
        </tr>

        {{/each}}
      </table>
      {{else}}
      <div class="col-md-4 mx-auto">
        <div class="card card-body text-center">
          <tr>No hay partidas guardados <a href="/partidas/add"> Crea uno!</a></tr>
        </div>
      </div>

      {{/if}}
      <div class="row">
        <div class="col-md-12">
          {{!-- <h4 class="m-3">TOTAL: {{suma partidas}}</h4> --}}
          <div class="d-flex justify-content-around m-4">
            <a href="#exampleModalToggle" data-bs-toggle="modal" role="button" class="btn btn-style w-100"><img
                src="/img/imagenes/icon.png" alt="">
              <div>
                <p>UNIRSE A PARTIDA </p>
                <p>a través de una contraseña</p>
              </div> <img src="/img/imagenes/icon.png" alt="">
            </a>
          </div>
          <div class="d-flex justify-content-around m-4">
            <a href="/partidas/add" class="btn btn-style"> <i class="fa fa-plus-circle" aria-hidden="true"></i>
              <p>CREAR NUEVA PARTIDA</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{>joinModal}}