<div class="fondo">

    {{#if user}}
    <div class="hazard-background">
    </div>
    <div class="text-center mb-4">
        <img src="/img/imagenes/calavera.png" alt="">
    </div>
    <div class="container text-center">
        {{#if partidas}}
        {{!-- <div class="col-md-5 mx-auto mb-3">
            <a type="button" class="btn btn-danger">
                Tienes <span class="badge text-bg-secondary">{{partidas.length}}</span> partidas activas
            </a>
        </div> --}}
        {{!-- <div class="cajita cajita_disabled"> --}}
            {{#each partidas}}
           {{#enJuego this.status}}
            <div class="col-md-5 mx-auto mb-3">
                <a href="/partidas/plantilla/{{../this.id_partida}}">
                    <div class="cajita">
                        <h4>{{../this.id_partida}}-{{../this.titulo}}</h4>
                        <p>{{../this.descripcion}}</p>
                        <p>Activa entre {{formatearSp ../this.fecha_inicio}} - {{formatearSp ../this.fecha_fin}}</p>


               
                        <p>Status: en curso</p>
                       {{!-- {{/enJuego}}
                        {{#esFinalizada this.status}}
                        <p>Status: finalizada</p>
                        {{/esFinalizada}}
                        {{#enPausa this.status}}
                        <p>Status: inactiva</p>
                        {{/enPausa}} --}}
                    </div>
                </a>
            </div>
            {{/enJuego}}

            {{#enCreacion this.status}}
            <div class="col-md-5 mx-auto mb-3">
                <a href="/partidas/edit/{{../this.id_partida}}">
                    <div class="cajita">
                        <h4>{{../this.id_partida}}-{{../this.titulo}}</h4>
                        <p>{{../this.descripcion}}</p>
                        <p>Activa entre {{formatearSp ../this.fecha_inicio}} - {{formatearSp ../this.fecha_fin}}</p>


                        <p>Status: en creacion</p>

                        {{!-- {{#enJuego this.status}}
                        <p>Status: en curso</p>
                        {{/enJuego}}
                        {{#esFinalizada this.status}}
                        <p>Status: finalizada</p>
                        {{/esFinalizada}}
                        {{#enPausa this.status}}
                        <p>Status: inactiva</p>
                        {{/enPausa}} --}}
                    </div>
                </a>
            </div>
            {{/enCreacion}}




            {{/each}}
            {{/if}}
        </div>

        <div class="container text-center"> <a href="/">
                {{!-- <h4 class="m-3">TOTAL: {{suma partidas}}</h4> --}}
                <div class="d-flex justify-content-around m-4">
                    <a href="#exampleModalToggle" data-bs-toggle="modal" role="button" class="btn btn-style w-100"><img
                            src="/img/imagenes/icon.png" alt="">
                        <div>
                            <p>UNIRSE A PARTIDA </p>
                            <p>a través de una contraseña</p>
                        </div> <img src="/img/imagenes/icon.png" alt="">
                    </a>
                </div>
                <div class="d-flex justify-content-around m-4">
                    <a href="/partidas/add" class="btn btn-style"> <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        <p>CREAR NUEVA PARTIDA</p>
                    </a>
                </div>
                {{else}}
                <div class="container text-center mb-5">
                    <a href="/signin"> <button class="btn btn-warning">INICIAR SESION</button></a>
                </div>
                <a href="/signup">
                    <div class="container text-center"> <button class="btn btn-warning">REGISTRARSE</button>
                </a>
                {{/if}}
        </div>
        <div class="hazard-background"></div>
    </div>
</div>
{{>modal_Join}}