<div class="fondo">
    <div class="container text-center">
        <h4>KILLER - LISTADO PARTIDAS</h4>
    </div>
    {{#if user}}
    <div class="hazard-background">
    </div>
    <div class="container text-center">
                <div class="col-md-5 mx-auto mb-3">
            <a type="button" class="btn btn-danger" href="/partidas/listarotras"> Unirme a otra Partida </a>

                </div>

        {{#if partidas}}
        <div class="col-md-5 mx-auto mb-3">
            <a type="button" class="btn btn-danger">
                Tienes <span class="badge text-bg-secondary">{{partidas.length}}</span> partidas activas
            </a>
        </div>
        {{#each partidas}}

        <div class="col-md-5 mx-auto mb-3">
            {{#enCreacion this.status}}
            <a href="/partidas/edit/{{../this.id_partida}}">
                   <div class="cajita cajita_disabled">
                {{else}}
                <a href="/partidas/plantilla/{{../this.id_partida}}">
                       <div class="cajita">
                    {{/enCreacion}}
                        <h3>{{this.id_partida}}-{{this.titulo}}</h3>
                        <p>{{this.descripcion}}</p>
                        <p>{{formatearSp this.fecha_inicio}} - {{formatearSp this.fecha_fin}}</p>

                        {{#enCreacion this.status}}
                        <form action="/partidas/{{../this.id_partida}}/add_object" method="get">
                            <button class="btn btn-warning"> Añadir Objeto </button>
                        </form>
                        <p>Partida en creacion.</p>
                        {{/enCreacion}}
                        {{#enJuego this.status}}
                        <p>Partida en curso</p>
                        {{/enJuego}}
                        {{#esFinalizada this.status}}
                        <p>Partida finalizada</p>
                        {{/esFinalizada}}
                        {{#enPausa this.status}}
                        <p>Partida inactiva</p>
                        {{/enPausa}}

                    </div>
                </a>
        </div>
        {{/each}}
        {{/if}}
    </div>

    <div class="container text-center"> <a href="/"> <button class="btn btn-warning">INICIO</button> </a></div>


    {{else}}
    <div class="container text-center mb-5">
        <a href="/signin"> <button class="btn btn-warning">INICIAR SESION</button></a>
    </div>
    <a href="/signup">
        <div class="container text-center"> <button class="btn btn-warning">REGISTRARSE</button>
    </a>

    {{/if}}

    <div class="hazard-background"></div>
</div>