<div class="container p-2 text-center mb-4">
    {{#if ticket}}
    <div class="row">
        <div class="col-md-12 mx-auto cajita">
            <p> <span> <strong>'{{ticket.jugador_name}}'</strong> ha reportado que te ha matado con <strong>
                        '{{ticket.objeto}}' </strong> . Es verdad?</span></p>
            <a href="/partidas/{{ticket.id_partida}}/muerte" class="btn btn-warning">Aceptar</a>
            <a href="/partidas/{{ticket.id_partida}}/rejectkill/{{ticket.id_victima}}" class="btn btn-warning">
                Denegar</a>
        </div>
    </div>
    {{/if}}

    <div class="row">
        {{#when supervivientes.length 'gt' 1}}
        <p> Quedan {{tiempoHasta ../partida.0.fecha_fin}} para acabar con todos</p>
        {{/when}}
        {{#when supervivientes.length 'lte' 1}}
        <p> Acabó el {{formatearSpHora ../last_kill.fecha_eliminacion}} previsto el {{formatearSpHora
            ../partida.0.fecha_fin}} </p>
        {{/when}}

        <div class="col-12 mx-auto">
            <div class="cajita my-4"> {{!-- //ASESINOS Y ARMAS--}}

                <figure class="text-center">
                    <blockquote class="blockquote">
                        <h1 class="d-inline"> {{ partida.0.titulo}} </h2> - <h4 class="d-inline"> {{
                                partida.0.id_partida}}
                            </h4>
                            <p>{{ partida.0.descripcion }}</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">Administrada por {{partida.0.usuario_creador}}</figcaption>
                </figure>

                <hr>
                <div class="d-flex flex-row align-items-center justify-content-around"> {{!-- //ASESINOS Y
                    OBJETOS--}}
                    <div>
                        <h5>Asesinos</h5>
                        {{#each jugadores}}
                        <a href="/jugador/foto/{{../partida.0.id_partida}}/{{this.id}}">
                            <p {{#if this.eliminado}}class="tachado" {{/if}}> {{this.usuario}} </p>
                           
                        </a>
                        {{/each}}
                    </div>
                    <div>
                        <h5>Armas</h5>
                        {{#each objetos}}
                        <a href="/partidas/{{../partida.0.id_partida}}/ver_object/{{this.id}}">
                            {{!-- <p {{#if this.eliminado}} class="tachado" {{/if}}> {{this.nombre}} </p> --}}
                             <p> {{this.nombre}} </p>
                        </a>
                        {{/each}}
                    </div>
                </div>
                <hr>
                <div class="my-4"> {{!-- //SANGUINARIOS--}}
                    <h5>Asesinos más Sanguinarios</h5>
                    <img src="/img/asesin.png" alt="asesin" class="float-end">
                    <div class="clearfix">
                        {{#if top_killers}}
                        {{#each top_killers}}
                        <p> <strong> #{{counter @index}} - {{this.jugador_user}}</strong> con {{this.asesinatos}}
                            bajas
                        </p>
                        {{/each}}
                        {{else}}
                        <p>Todavia no han habido bajas!</p>
                        {{/if}}
                    </div>
                </div>
                <hr>
                <div class="my-4"> {{!-- //ULTIMA BAJA--}}
                    <h5>Última baja</h5>
                    <img src="/img/punal.png" alt="asesin" class="float-end">
                    <div class="clearfix">
                        {{#if last_kill}}
                        <p> {{last_kill.asesino_user}} ha matado a {{last_kill.victima_user}} con
                            {{last_kill.objeto}} el {{formatearSpHora last_kill.fecha_eliminacion}} </p>
                        {{else}}
                        <p>Todavia no ha habido bajas!</p>
                        {{/if}}
                    </div>
                </div>
            </div>

            {{#if hemuerto}}
            <div class="col-md-12 mx-auto cajita mt-4">
                <p>Estas mortimer</p>
                {{#if dididie.fecha_eliminacion}}
                <p> Te mató <strong> {{dididie.asesino_name}} </strong> con
                    <strong>{{dididie.objeto}} </strong> el <strong> {{formatearSpHora
                        dididie.fecha_eliminacion}} </strong>
                </p>
                {{/if}}
            </div>
            {{else}}
            {{#when supervivientes.length 'gt' 1}}

            {{#if ../objetivo}}
            <div class="col-md-12 mx-auto mt-4">
                <a class="btn btn-warning" data-bs-toggle="modal" href="#killModalToggle" role="button"> <i
                        class="fa-solid fa-eye"></i> VER MI OBJETIVO</a>
            </div>
            {{else}}
            <div class="col-md-12 mx-auto mt-4">
                <p> Aunque eres administrador de la partida, no participas en ella</p>
                            <div class="d-flex justify-content-around my-4">
                <a href="/partidas/plantillaindividual/{{ ../partida.0.id_partida}}">
                    <button class="btn btn-style">VER PARTIDA</button>
                </a>
            </div>
            </div>
            {{/if}}
            {{/when}}
            {{/if}}


            {{#when supervivientes.length 'eq' 1}}
            {{#if ../ganador}}
            <div class="col-md-12 mx-auto cajita mt-4">
                <h3>ENHORABUENA ERES EL GANADOR!!</h3>
                <p> con un total de <strong> {{../supervivientes.0.asesinatos}} eliminaciones</strong></p>
            </div>

            {{else}}
            <div class="col-md-12 mx-auto cajita mt-4">
                <h3>TENEMOS GANADOR!!</h3>
                <p class="d-inline">El ganador es </p>
                <h5 class="d-inline"> {{../supervivientes.0.jugador_name}} </h5> aka <strong>
                    {{../supervivientes.0.jugador_user}} </strong> <span> con un total de <strong>
                        {{../supervivientes.0.asesinatos}} eliminaciones</strong></span>
            </div>
            <div class="d-flex justify-content-around my-4">
                <a href="/partidas/plantillaindividual/{{ ../partida.0.id_partida}}">
                    <button class="btn btn-style">VER PARTIDA</button>
                </a>
            </div>
            {{/if}}
            {{/when}}
        </div>
    </div>
    {{#if esCreador}}
    <div class="row my-4"> {{!-- //BOTONES --}}
        <div class="col-md-12">
            <div class="d-flex  justify-content-around">
                <a href="/partidas/editObjects/{{partida.0.id_partida}}" class="btn btn-style"> <i
                        class="fa-solid fa-pen"></i>Editar Objetos</a>
            </div>
        </div>
    </div>
    {{/if}}
</div>

{{>modal_Kill}}