<div class="container p-4">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <h1>Datos de la partida {{ partidita.titulo }} - {{ partidita.descripcion }}</h1>
            <div class="card">
                <div>
                    <h2> Jugadores</h2>
                    {{#if partida}}
                    <table class="listado">
                        <tr>
                            <th>Asesino</th>
                            <th>Victima</th>
                            <th>Objeto</th>
                            <th>Ticket</th>
                            <th>Muerto?</th>
                            <th>Fecha muerte</th>
                            <th>Bajas</th>
                            {{!-- <th>Options</th> --}}
                        </tr>
                        {{#each partida}}
                        <tr>
                            <td>{{this.id_jugador}} - {{this.jugador_user}} - {{this.jugador_name}}</td>
                            <td>{{this.id_victima}} - {{this.victima_user}} - {{this.victima_name}}</td>
                            <td>{{this.objeto}} - {{this.descripcion_objeto}}</td>
                            <td>{{this.ticket}}</td>
                            <td>{{this.victima_killed}}</td>
                            <td>{{this.fecha_asesinato}}</td>
                            <td>
                                {{!-- <a href="/partidas/{{../partida.id}}/deleteplayer/{{this.id_jugador}}"
                                    class="text-primary"><i class="fa-solid fa-trash"></i>Del</a> --}}
                            </td>
                        </tr>

                        {{/each}}
                    </table>
                    {{else}}
                    <div class="col-md-4-mx-auto">
                        <div class="card card-body text-center">
                            <tr>No hay jugadores guardados <a href="/partidas/{{id}}/add_player"> Crea uno!</a></tr>
                        </div>
                    </div>
                    {{/if}}


                </div>
            </div>
        </div>
    </div>
</div>