<div class="container p-4">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <h1>Datos de la partida {{ partidita.titulo }} - {{ partidita.descripcion }}</h1>
            <div class="card">
                <div>
                    <h2 class="text-center"> Listado de Jugadores</h2>
                    {{#if partida}}
                    <table class="listado">
                        <tr>
                            <th>Asesino</th>
                            <th>Victima</th>
                            <th>Objeto</th>
                            <th>Ticket</th>
                            <th>Muerto?</th>
                            <th>Fecha muerte</th>
                            <th>Bajas</th>
                            {{!-- <th>Options</th> --}}
                        </tr>
                        {{#each partida}}
                        <tr>
                            <td>{{this.id_jugador}} - {{this.jugador_user}} </td>
                            <td>{{this.id_victima}} - {{this.victima_user}} </td>
                            <td>{{this.objeto}} - {{this.descripcion_objeto}}</td>
                            <td>{{this.ticket}}</td>
                            <td>{{this.victima_killed}}</td>
                            <td>{{ formatearSpHora this.fecha_asesinato}}</td>
                            <td>{{this.asesinatos}}</td>
                        </tr>
                        {{/each}}
                    </table>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>