<div class="container p-4 text-center">
    <div class="row">
        {{#if ticket}}

        <div class="col-md-12 mx-auto cajita">
            <p> <span> '{{ticket.jugador_name}}' ha reportado que te ha matado. Es verdad?</span></p>
            <button class="btn btn-warning" id="btndie" id_partida="{{ticket.id_partida}}"
                id_victima="{{ticket.id_victima}}">Aceptar</button>
        </div>
        {{/if}}


        <div class="col-md-12 mx-auto">
            <h1>Datos de la partida {{ partida.titulo }} - {{ partida.descripcion }}</h1>
            <div class="cajita">
                <div>
                    <h3> Listado Jugadores</h3>
                    {{#each partida}}
                    {{#if this.victima_killed}}
                    <p> <span data-bs-toggle="popover" title="{{this.victima_name}}"
                            data-content="{{this.victima_name}}" class="text-decoration-line-through">
                            {{this.victima_user}} </span> </p>
                    {{else}}
                    <p> <span data-bs-toggle="popover" title="{{this.victima_name}}"
                            data-content="{{this.victima_name}}">
                            {{this.victima_user}} </span> </p>
                    {{/if}}
                    {{/each}}
                </div>
                <div>
                    <h3> Listado Armas</h3>
                    {{#each partida}}
                    <p> <span data-bs-toggle="popover" title="{{this.descripcion_objeto}}">
                            {{this.objeto}}</span> </p>
                              {{/each}}
                </div>
                <div>
                    <h3>Asesinos más Sanguinarios</h3>
                    {{#each top_killers}}
                    <p> {{this.jugador_user}} con {{this.asesinatos}} bajas</p>
                    {{/each}}
                </div>
                   <div>
                    <h3>Última baja</h3>
             
                    <p> {{last_kill.jugador_user}} ha matado a {{last_kill.victima_user}} con {{last_kill.objeto}} </p>
                
                </div>
            </div>
        </div>
    

    <a class="btn btn-warning m-4" href="javascript:void(0)" onclick="history.back();">Volver</a>
    </div>
</div>