<div class="container p-4">
    <div class="row">
        <h3>MODIFICACION DE LAS FOTOS DURANTE EL JUEGO</h3>
    </div>
    <div class="row ">
        {{!-- FOTO VIVO --}}
        <div class="card mx-auto col-5" >
            <h4>Foto Vivo</h4>
            {{#if jugador.imagenAlive}}
            <a href="/img/imagenes/{{jugador.imagenAlive}}" target="_blank">
                <img src="/img/imagenes/{{jugador.imagenAlive}}" class="card-img-top" alt="avatar foto vivo" />
                {{else}}
                <a href="img/profiles/default.jpg" target="_blank">
                    <img src="/img/profiles/default.jpg" class="card-img-top" alt="default avatar" />
                    {{/if}}
                </a>
                <div class="card-body">
                    <form action="/jugador/upload" method="POST" enctype="multipart/form-data">
                        <div class="input-group mb-3">
                            <input type="hidden" name="tipo" value="alive" />
                            <input type="file" name="imagen" class="form-control" id="inputGroupFile02">
                            <button type="submit" class="input-group-text">Upload</button>
                        </div>
                    </form>
{{!--                     <a href="/img/imagenes/{{jugador.imagenAlive}}" target="_blank" class="btn btn-primary btn-block">
                        Ver
                        Foto</a> --}}
                    <a href="/jugador/foto/delete/alive" class="btn btn-danger btn-block"> Delete</a>
                </div>
        </div>

        {{!-- FOTO MUERTO --}}
        <div class="card m-2 col-5">
            <h4>Foto eliminado</h4>
            {{#if jugador.imagenDead}}
            <a href="/img/imagenes/{{jugador.imagenDead}}" target="_blank">
                <img src="/img/imagenes/{{jugador.imagenDead}}" class="card-img-top" alt="avatar foto vivo" />
                {{else}}
                <a href="/img/imagenes/{default.jpg" target="_blank">
                    <img src="/img/profiles/default.jpg" class="card-img-top" alt="default avatar" />
                    {{/if}}
                </a>
                <div class="card-body">
                    <form action="/jugador/upload" method="POST" enctype="multipart/form-data">
                        <div class="input-group mb-3">
                            <input type="hidden" name="tipo" value="dead" />
                            <input type="file" name="imagen" class="form-control" id="inputGroupFile02">
                            <button type="submit" class="input-group-text">Upload</button>
                        </div>
                    </form>
{{!--                     <a href="/img/imagenes/{{jugador.imagenDead}}" target="_blank" class="btn btn-primary btn-block">
                        Ver                        Foto</a> --}}
                    <a href="/jugador/foto/delete/dead" class="btn btn-danger btn-block"> Delete</a>
                </div>
        </div>
    </div>
</div>