{{>logo}}
<div class="container p-2">
    <div class="row4">
        <div class="col-md-12 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h4>Bienvenid@ <strong> {{user.usuario}} </strong>!</h4>
                    {{>avatar}}
                    <form action="/profile/upload/{{user.id}}" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="user" value="{{user.id}}" />
                        <div class=" mx-auto">
                            <div class="custom-file">
                                <input type="file" name="imagen" class="custom-file-input" id="inputGroupFile02">
                                <button type="submit" class="btn btn-warning">Upload</button>
                            </div>
                        </div>
                    </form>
                    <p> <strong> Id:</strong> {{user.id}} </p>
                    <p><strong> Nombre: </strong>{{user.full_name}} </p>
                    <p><strong> Usuario:</strong> {{user.usuario}} </p>
                    <p><strong> Correo:</strong> {{user.email}} </p>
                    <p><strong> Privilegio: </strong>{{user.privilegio}} </p>
                    <div class="d-flex flex-column">
                        <a href="/profile/edit" class="btn btn-style mb-1"> Editar el Perfil </a>
                        <a href="/jugador/fotosjuego" class="btn btn-style mb-1">Actualizar fotos juego</a>
                        <a href="/logout" class="btn btn-style mb-1">Logout</a>
                        <a href="/partidas/listar" class="btn btn-warning mb-1">Partidas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>