<!-- Modal ASESINAR - ======== modalObjetivo ===== -->
{{!-- MODAL --}}
<div class="modal fade" id="killModalToggle" data-bs-backdrop="false" aria-hidden="true"
    aria-labelledby="killModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content w-100 cajita">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="killModalToggleLabel">MI OBJETIVO</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <div class="m-1 ">
                    <p>Tu objetivo es <strong> {{objetivo.victima_name}}
                        </strong>
                        entregandole en mano <strong>{{objetivo.objeto}} </strong>
                    </p>
                    {{#if ticketenviado}}
                    <hr>
                    <p>Ya has enviado una notificaci칩n de asesinato a la victima. </p>
                    <p>Solo queda esperar a que la valide.</p>
                    {{/if}}
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-warning" data-bs-target="#killModalToggle"
                    data-bs-toggle="modal">CANCELAR</button>
                {{#if ticketenviado}}


                {{else}}

                <button class="btn btn-warning" data-bs-target="#killModalToggle2" data-bs-toggle="modal"
                    data-bs-dismiss="modal">MATARLO</button>
                {{/if}}
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="killModalToggle2" data-bs-backdrop="false" aria-hidden="true"
    aria-labelledby="killModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content w-100 cajita">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="killModalToggleLabel2">Confirmaci칩n</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Seguro que has logrado eliminarlo???</p>
                <p>Le llegar치 un aviso a la victima, que tendr치 que confirmar</p>
            </div>
            <div class="modal-footer">
                <a href="/partidas/{{objetivo.id_partida}}/asesinar/{{objetivo.id_victima}}" class="btn btn-danger">SI,
                    MATALO</a>

                <button class="btn btn-warning" data-bs-target="#killModalToggle2"
                    data-bs-toggle="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>