{{>logo}}
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card-body">
                <h2>DETALLES DEL OBJETO - {{objeto.id}}</h2>
                <div class="d-flex flex-column justify-content-around align-items-center">
                    <h2> {{objeto.nombre}}</h2>
                    <hr>
                    {{#if objeto.pictureURL}}
                    <img src="/img/imagenes/{{objeto.pictureURL}}" class="w-100 m-2" alt="No carga foto" />
                    {{else}}
                    <img src="/img/objeto.png" class="w-100 m-2" alt="No hay foto" />
                    {{/if}}
                    <hr>
                    <p>{{objeto.descripcion}}</p>
                </div>
            </div>
        </div>
    </div>
      <div class="row justify-content-center">
    <a class="btn btn-warning m-4" style="max-width: 80%;" href="javascript:void(0)"
      onclick="history.back();">Volver</a>
  </div>
</div>