<div class="container p-4">
    <div class="row">
        <h2>MODIFICACION DE FOTOS</h2>
    </div>
    <div class="row  justify-content-center">
        {{!-- FOTO VIVO --}}
        <div class="card mx-auto col-6">
            <h2  class="text-center">Vivo</h2>
            {{#if jugador.imagenAlive}}
            <a href="/img/imagenes/{{jugador.imagenAlive}}" target="_blank">
                <img src="/img/imagenes/{{jugador.imagenAlive}}" id="frame1" class="card-img-top"
                    alt="avatar foto vivo" />
                {{else}}
                <a href="img/profiles/default.jpg" target="_blank">
                    <img src="/img/profiles/default.jpg" id="frame1" class="card-img-top" alt="default avatar" />
                    {{/if}}
                </a>
                <div class="card-body">

                    <form action="/jugador/upload" method="POST" enctype="multipart/form-data">
                        <div class="input-group mb-3">
                            <input type="hidden" name="tipo" value="alive" />
                            <input type="file" name="imagen" class="form-control" id="inputGroupFile02"
                                onchange="preview1()">
                        </div>
                        <button type="submit" class="input-group-text btn btn-primary"
                            onclick="clearImage1()">Guardar</button>
                    </form>
                    <a href="/jugador/foto/delete/alive" class="btn btn-danger btn-block"> Delete</a>
                </div>
        </div>

        {{!-- FOTO MUERTO --}}
        <div class="card  col-6">
            <h2 class="text-center">Eliminado</h2>
            {{#if jugador.imagenDead}}
            <a href="/img/imagenes/{{jugador.imagenDead}}" target="_blank">
                <img id="frame2" src="/img/imagenes/{{jugador.imagenDead}}" class="card-img-top"
                    alt="avatar foto vivo" />
                {{else}}
                <a href="/img/imagenes/{default.jpg" target="_blank">
                    <img id="frame2" src="/img/profiles/default.jpg" class="card-img-top" alt="default avatar" />
                    {{/if}}
                </a>
                <div class="card-body">
                    <form action="/jugador/upload" method="POST" enctype="multipart/form-data">
                        <div class="input-group mb-3">
                            <input type="hidden" name="tipo" value="dead" />
                            <input type="file" name="imagen" class="form-control" id="inputGroupFile02"
                                onchange="preview2()">
                        </div>
                        <button type="submit" class="input-group-text btn btn-primary"
                            onclick="clearImage2()">Guardar</button>
                        <a href="/jugador/foto/delete/dead" class="btn btn-danger btn-block"> Delete</a>
                    </form>

                </div>
        </div>
        <a class="btn btn-warning m-4" href="javascript:void(0)" onclick="history.back();">Volver</a>
    </div>
</div>

<script>
    function preview1() {
        frame1.src = URL.createObjectURL(event.target.files[0]);
    }
    function preview2() {
        frame2.src = URL.createObjectURL(event.target.files[0]);
    }
    function clearImage1() {
        document.getElementById('formFile1').value = null;
        frame1.src = "";
    }
    function clearImage2() {
        document.getElementById('formFile2').value = null;
        frame2.src = "";
    }
</script>