{{>logo}}
<div class="container py-2">
    <div class="row">
        <div class="col-md-12 ">
            <h1>COMUNICADOS EN LA PARTIDA {{ partida.titulo }} - {{ partida.descripcion }}</h1>
            <div>
                <h2 class="text-center"> Listado de comunicados</h2>
                {{#if comunicados}}
                <table class="table table-dark table-striped">
                    <tr>
                        <th>id</th>
                        <th>titulo</th>
                        <th>Descripcion</th>
                        <th>Fecha</th>
                        <th>Accion</th>
                    </tr>
                    {{#each comunicados}}
                    <tr class="table-active">
                        <td>
                            <p> {{this.id}}</p> </a>
                        </td>
                        <td>
                            <p> {{this.titulo}}</p></a>
                        </td>
                        <td>
                            <p> {{this.descripcion}}</p>
                        </td>
                        <td>
                            <p> {{formatearSpHora this.fecha}}</p>
                        </td>
                        <td class="d-flex flex-row">
                            <a href="/comunicados/edit/{{this.id}}" class="text-warning"><i
                                    class="fa-solid fa-pencil"></i>Edit</a>

                            <form action="/comunicados/del" method="post" class="m-0 p-0">
                                <input type="hidden" value="{{this.id}}" name="id">
                                <input type="hidden" value="{{this.id_partida}}" name="id_partida">
                                <button class="btn btn-link text-decoration-none mx-1 p-0"> <a class="text-warning"><i class="fa-solid fa-trash"></i>Del</a></button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </table>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="text-center m-2">
        <a href="/comunicados/add/{{partida.id}}" class="btn btn-warning"> AÑADIR COMUNICADO</a>
    </div>
</div>