<div class="container p-4 pb-2 mb-5">
  <div class="row">
    <div class="col-md-12">
      {{#if items}}
      <table class="listado">
        <tr>
          <th>Id Partida</th>
          <th>Id Jugador</th>
          <th>Nombre</th>
          <th>Imagen</th>
        </tr>
        {{#each items}}
        <tr>
          <td>{{id_partida}}</td>
          <td>{{id_jugador}}</td>
          <td>{{usuario}} </td>
          <td>{{full_name}}</td>
          <td>
            <a href="/jugadores/delete/{{this.id_jugador}}" class="text-primary"><i class="fa-solid fa-trash"></i>Del</a>
          </td>
        </tr>

        {{/each}}
      </table>
      {{else}}
      <div class="col-md-4-mx-auto">
        <div class="card card-body text-center">
          {{#if obj}}
          <tr>No hay jugadores guardados con {{obj.filtro}} que contenga {{obj.valor}} <a href="/jugadores/add"> Crea
              una!</a>
          </tr>
          {{else}}
          <tr>No hay jugadores guardados <a href="/jugadores/add"> Crea uno!</a></tr>

          {{/if}}
        </div>
      </div>
      {{/if}}
      <h1>TOTAL: {{suma items}}</h1>
      <a href="/jugadores/add" class="btn btn-primary"> Añadir jugador</a>

    </div>
  </div>
</div>